build
target
tags
cscope*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### vscode ####
.project
.classpath
.settings
.vscode

# Ignore Gradle project-specific cache directory
.gradle

# ignore subproject clones
subprojects/googletest/
subprojects/lmdb/
subprojects/minunit/
subprojects/rcpr/
subprojects/vcblockchain/
subprojects/vccert/
subprojects/vccrypt/
subprojects/vcmodel/
subprojects/vpr/
